- var maxFileSize = process.env.CONTENT_HARVESTER_MAX_FILE_SIZE || "50"
- var apiPath = process.env.CONTENT_HARVESTER_API_PATH || "/api"

doctype html
html(lang="en", data-max-file-size=maxFileSize, data-api-path=apiPath)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title || 'Content Harvester'}
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/htmx/htmx.min.js")
  body
    div.toast-container
      // Toast messages will appear here
    
    div.content-container
      block content
    
    script(src="/js/app.js")