doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title || 'Content Harvester'}
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/htmx/htmx.min.js")
  body
    div.toast-container
      // Toast messages will appear here
    
    div.content-container
      block content
    
    script(src="/js/app.js")